.container {
   width: 1280px; 
  margin: 0 auto;    
}


header{
   /* width: 1920px;*/
    height: 1024px;;
    background-image: url('img/slider-img.png');
    background-size: cover;
    position: relative;
}

nav{
    /*padding-left: 323px;
    padding-right: 323px;*/
    /*overflow: auto;*/
    padding-top: 39px;
    display: flex;
    justify-content: space-between;
       margin-bottom: 315px;
    align-items: center;
}


.link-logo{
   /* padding-top: 39px;*/
    display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  width: 180px;
  text-decoration: none;
  color: #fff;
    margin-right: auto;
 
}

.link-logo:hover .logo-icon{
 fill: #C7B299;  
}

.link-logo:hover .logo-text{
  color: #C7B299;  
}

.logo-icon{
 fill: #fff;    
}

.logo-text{
    font-family: Raleway, arial,sans-serif;
    color: #FFFFFF;
    
    font-size: 34px;
    line-height : 40px;
}

.menu-list{
   /* padding-top: 58px;*/
    margin-right: 40px;
}

.menu-list-item{
    float: left;
    
}

.menu-link-item {
    /* Style for "HOME     P" */
    color: #fff;
    font-family: Montserrat, arial,sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link-item:hover {
 color: #C7B299;
}

.menu-list-icon{
 /*padding-top: 54px;   */
}

.menu-list-icon-item{
    float: left;
    margin-right: 30px;   
}

.icon-cart, .icon-search{
   fill: #fff;  
}

.icon-cart-link:hover .icon-cart{
 fill: #C7B299;   
}

.icon-search-link:hover .icon-search{
 fill: #C7B299;   
}

.slider-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 39px;
}

.slider{
    /*padding-left: 160px;
    padding-right: 160px;*/
    /*width: 1564px;*/
    font-family: Raleway, arial, sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin-left: -100px;
    margin-right: -100px;
}

.slider-content{
    width: 569px;
    text-align: center;
}

.slider-content-subtitle{
    font-weight: 500;
    font-size: 36px;
line-height: 42px;
}

.slider-content-title{
    font-weight: 600;
font-size: 52px;
line-height: 61px;
}

.slider-content-text{
    font-family: Montserrat;
    font-size: 16px;
line-height: 20px;
}

.slider-button-link:hover .slider-button-arrow{
   fill: #D3C1AC; 
}

.slider-button-arrow{
    fill: #fff;
}

.slider-button-left {
    margin-right: auto;
}

.slider-button-right {
    margin-left: auto;
}

.slider-button {
    width: 170px;
    height: 53px;
    background-color: #988574;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 53px;
}

.slider-button:hover {
    background-color: #D3C1AC;
}

.pagination {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 19px;
    left: calc(50% - 45px);
}

.pagination-item {
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
    border: 1px solid transparent;
}

.pagination-item:hover {
  background-color: transparent;
  border: 1px solid #D3C1AD;
  transform: scale(1.2);
}

.pagination-item-active{
  background-color: transparent;
  border: 1px solid #D3C1AD; 
     display: block;
  width: 13px;
  height: 13px;
    border-radius: 50%;
}

.services-wrap {
    width: 100%;
    padding: 85px 0 88px 0; 
    display: flex;
    align-items:flex-end;
    justify-content:center;
}

/*.design{
    width: 270px;    
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}*/

.services-link:after {
  content: "";
    display: flex;
    width: 70px;
    height: 3px;
    background-color: #F1EEE9;
}

.services-link {
    text-decoration: none;
     width: 270px;    
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
  position:relative;
}

.design-icon {
    display: block;
    fill: #555555;
    margin: 0 0 20px 0; 
}

.design-title {
   font-family: Raleway, arial,sans-serif;
font-weight: 600;
font-size: 22px;
line-height: 26px;
color: #555555;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.design-text {
    font-family: Montserrat, arial,sans-serif;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.services-link:hover .design-icon {
    fill: #C7B299;
}

.services-link:hover .design-title {
  color: #C7B299;  
}

.services-link:hover:after {
   background-color: #C7B199; 
}


.development{
    width: 270px;    
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}


.services-link:after {
  content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #F1EEE9;
}

.development-icon {
    display: block;
    fill: #555555;
    margin: 0 0 20px 0; 
}

.development-title {
   font-family: Raleway, arial,sans-serif;
font-weight: 600;
font-size: 22px;
line-height: 26px;
color: #555555;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.development-text {
    font-family: Montserrat, arial,sans-serif;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.services-link:hover .development-icon {
    fill: #C7B299;
}

.services-link:hover .development-title {
  color: #C7B299;  
}

.services-link:hover:after {
   background-color: #C7B199; 
}

.customization{
    width: 270px;    
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}


/*.customization:after {
  content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #F1EEE9;
}*/

.customization-icon {
    display: block;
    fill: #555555;
    margin: 0 0 20px 0; 
}

.customization-title {
   font-family: Raleway, arial,sans-serif;
font-weight: 600;
font-size: 22px;
line-height: 26px;
color: #555555;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.customization-text {
    font-family: Montserrat, arial,sans-serif;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.services-link:hover .customization-icon {
    fill: #C7B299;
}

.services-link:hover .customization-title {
  color: #C7B299;  
}

.marketing{
    width: 270px;    
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}


/*.marketing:after {
  content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #F1EEE9;
}*/

.marketing-icon {
    display: block;
    fill: #555555;
    margin: 0 0 20px 0; 
}

.marketing-title {
   font-family: Raleway, arial,sans-serif;
font-weight: 600;
font-size: 22px;
line-height: 26px;
color: #555555;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.marketing-text {
    font-family: Montserrat, arial, sans-serif;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.services-link:hover .marketing-icon {
    fill: #C7B299;
}

.services-link:hover .marketing-title {
  color: #C7B299;  
}

.services-link:hover:after {
   background-color: #C7B199; 
}

.waxom-realization {
    /*width: 1920px;*/
    text-align: center;
    background-color: #E5E5E5;
    padding-top: 80px;
}

.waxom-realization-title {
    font-family: Raleway, arial, sans-serif;
font-weight: 600;
font-size: 30px;
line-height: 35px;
text-align: center;
color: #555555;
    margin-bottom: 20px;
    
}

.waxom-realization-text {
  font-family: Montserrat, arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
   color: #8C8C8C;    
    width: 770px;
    text-align: center;
    margin: auto;
    margin-bottom: 42px;
    /*padding-left: 575px;*/
}

.waxom-realization-img {
    vertical-align:bottom;
}

.purchase-now {
   /* width: 1920px;*/
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    padding:  44px 0 45px 0;
        display: flex;
}

.purchase-wrap {
    width: 524px;
}

.purchase-wrap1 {
   display: flex;
    justify-content: space-between;
    padding: 0 20px; 
    align-items:flex-end;
}

.purchase-now-title, .purchase-waxom {
      font-family: Raleway, arial, sans-serif;
font-size: 28px;
    font-weight: 400;
line-height: 33px;
text-align: left;
    color: #FFFFFF;
    margin-bottom: 6px;
}

.purchase-now-title{
    /*margin-left: 536px;*/

}

.purchase-waxom {
color: #C7B299;
}

.purchase-now-text{
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
color: #615855;
}

.latest-projects {
  padding-top: 61px;
    padding-bottom: 33px;
    align-items: center;
text-align: center; 
}

.latest-projects-title {
    font-family: Raleway;
font-weight: 600;
font-size: 30px;
line-height: 35px;
color: #555555;
    margin-bottom: 9px;
}

.latest-projects-text {
    width: 800px;
    margin: auto;
    margin-bottom: 27px;
 font-family: Montserrat;
font-weight: 300;
font-size: 16px;
line-height: 20px;
color: #8C8C8C;   
}

.latest-projects-filter-list {
   width: 590px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: #8C8C8C;
    padding: 0;
}

.latest-projects-filter-link {
    display:inline-block;
    text-decoration: none;
    font-family: Montserrat;
font-weight: 300;
font-size: 14px;
line-height: 32px;
color: #8C8C8C;
    width: 120px;
    height: 32px;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
}

.latest-projects-filter-list-item {
}

/*li.latest-projects-filter-list-item a:first-child {
    width: 70px;
    height: 32px;
}*/
/*.latest-projects-filter-link {
    width: 120px;
    height: 32px;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
}*/

/*.latest-projects-filter-link:first-child {
    width: 70px;
    height: 32px;
}*/



/*.latest-projects-filter-list-item:first-child {
  width: 70px;
    height: 32px;
    border: 1px solid #EBEBEB;
    border-radius: 3px;  
}

.latest-projects-filter-list-item:not(:first-child) {
    width: 120px;
    height: 32px;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
}*/

.latest-projects-filter-link:hover {
    background-color: #998575;
    color: #FFFFFF;
}

.figures-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 47px;
}

.latest-projects-figcaption-title {
    font-family: Raleway;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #C7B299;
}

.latest-projects-figcaption-text {
    font-family: Montserrat;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #D1D1D1;
}

.latest-projects-figure {
    width: calc(32% - 15px);
    margin: 69px 15px 0 15px; 
    position: relative;
}

.latest-projects-figure:hover .latest-projects-figcaption {
    background-color: #352F2D;
}

.latest-projects-figure:hover .latest-projects-figcaption-title {
   color: #FFFFFF;
    }

.latest-projects-figure:hover .latest-projects-figcaption-text {
   color: #C7B299;
    }

.latest-projects-figure:hover .latest-projects-figure-img {
   filter: brightness(20%);
    }

.latest-projects-figure:hover .latest-projects-figcaption:before {
   border-bottom: 10px solid #352F2D;
    }

.latest-projects-figure-img {
    display: block;
    width: 100%
}

.latest-projects-figcaption {
    width: 100%;
    height: 100px;
    position: relative;
    box-sizing: border-box;
    background-color: #FBFAF8;
    padding-left: 23px;
    padding-top: 26px;
    text-align: left;
    
}

.latest-projects-figcaption:before {
   content: "";
  border: 10px solid transparent;	
  border-bottom: 10px solid #FBFAF8;
  position: absolute;
  top: -20px;
  left: 19px; 
}

.video-presentation {
    background-image: url(img/bg_video_presentation.png);
    height: 705px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video-play-title {
font-family: Raleway;
font-weight: 500;
font-size: 30px;
line-height: 35px;
color: #FFFFFF;
 text-align: center;
    margin-bottom: 18px;
    }

.video-play-text {
    width: 570px;
    font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
    text-align: center;
    margin: auto;
    margin-bottom: 18px;
}

.video-play-time {
    display: block;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #C7B299;
    text-align: center;
}

.video-play-btn {
    display: flex;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-bottom: 31px;
}

.video-play-btn-icon {
  margin: auto;
  fill: #fff;
}

.video-play-btn:hover .video-play-btn-icon {
    fill: #C7B299;
}

.mobile-devices {
  padding-top: 78px;    
}

.mobile-devices-wrap {
  display: flex;  
}

.mobile-figcaption-title {
font-family: Raleway;
font-weight: 600;
font-size: 30px;
line-height: 35px;
color: #555555;
    margin-bottom: 20px;
}

.mobile-figcaption-text {
    font-family: Montserrat;
font-weight: 300;
font-size: 16px;
line-height: 20px;
color: #8C8C8C;
    margin-bottom: 50px;
}

.mobile-figcaption-item {
 margin-bottom: 11px;   
}

.mobile-figcaption-link {
    font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
color: #8C8C8C;
    text-decoration: none;
}

.mobile-figcaption-link:before {
  content: '';
  width: 21px;
  height: 21px;
    display: block;
  background-image: url('img/01.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
    position: relative;
}

.counters {
   background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    padding:  36px 0 36px 0;
        display: flex; 
    justify-content: center;
}

.counters-wrap {
    display: flex;
    justify-content: center;
    margin-right: -70px;
}

.counters-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 70px;
}

.counters-item:after {
    content: "";
    display: flex;
    width: 70px;
    height: 3px;
    background-color: #F1EEE9;
    }

.counters-img {
    fill: #C7B299;
    display: block;
    margin-bottom: 2px;
}

.counters-number {
    display: block;
    font-family: Montserrat;
font-weight: 300;
font-size: 48px;
line-height: 59px;
color: #FFFFFF;
}

.counters-desc {
    display: block;
    font-family: Montserrat;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #C7B299;
    margin-bottom: 15px;
}

.recent-posts {
  text-align: center;
    padding-top: 100px;
    padding-bottom: 38px;
}

.recent-posts-title {
    font-family: Raleway;
font-weight: 600;
font-size: 30px;
line-height: 35px;
color: #555555;
    margin-bottom: 20px;
}

.recent-posts-text {
    font-family: Montserrat;
font-weight: 300;
font-size: 16px;
line-height: 28px;
color: #8C8C8C;
        width: 770px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.recent-posts-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}

.recent-posts-figcaption {
width: 370px;
    text-align: left;
    border: 1px solid #B3B3B3;
    padding: 31px 0 23px 23px;
    box-sizing: border-box;
}

.figcaption-posts-title {
font-family: Raleway;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #555555;
    }
.figcaption-posts-text{
font-family: Montserrat;
font-weight: 300;
font-size: 14px;
line-height: 22px;
color: #000000;
    margin-bottom: 17px;
    }

.figcaption-readmore{
font-family: Montserrat;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #C7B299;
    display: inline-block;
    }


.figcaption-readmore:after {
    content: '';
    width: 5px;
    height: 8px;
    display: inline-block;
    background-image: url(img/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 9px;
    position: relative;
}

.img-date-day {
    display: block;
    width: 50px;
    background-color: #363636;
    font-family: Montserrat;
font-weight: 300;
font-size: 30px;
line-height: 37px;
color: #FFFFFF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.img-date-month {
    display: block;
    width: 50px;
    background-color: #242424;
    font-family: Roboto;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
     border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.recent-posts-figure {
    position: relative;
    margin:auto;
}

.img-date {
    position: absolute;
    top: 17px;
    left: 23px;
}

.recent-posts-img {
vertical-align:bottom;    
    }

.recent-posts-link {
    text-decoration: none;
}

.recent-posts-link:hover .recent-posts-img {
    filter: brightness(20%);    
}

.recent-posts-link:hover .recent-posts-figcaption {
    background-color: #352F2D;
}

.recent-posts-link:hover .figcaption-posts-title {
    color: #C7B299;
}

.recent-posts-link:hover .figcaption-posts-text {
color: #FFFFFF;
    }

.recent-posts-link:hover .img-date-day {
   background-color: #C7B199;
}

.recent-posts-link:hover .img-date-month {
   background-color: #A48D71;
}

.recent-posts-right, .recent-posts-left {
    fill: #D1D1D1;
}

.recent-posts-left {
    margin-right: 18px;
}

.recent-posts-right:hover, .recent-posts-left:hover {
    fill: #C7B299;
}

.partners {
    background-image: url(img/bg_partners.svg);
    padding: 140px 0 140px 0;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-left: -75px;
}

.partnetrs-logo {
    margin-left: 75px;
}

.footer-content {
    background-color: #191919;
    padding: 74px 0 128px 0;
}

.copyright {
    background-color: #101010;
    padding: 58px 0 41px 0;
}

.footer-content-wrap{
    display: flex;
    justify-content: center;
}

.footer-content-item {
    width: calc(25% - 50px);
    margin-right: 50px;
}

.logo-waxon {
    display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  width: 180px;
  text-decoration: none;
  color: #fff;
    margin-right: auto;
    margin-bottom: 17px;
    }

.about-waxom-text {
    font-family: Montserrat;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #555555;
    margin-bottom: 18px;
}

.about-readmore {
font-family: Montserrat;
font-size: 14px;
line-height: 17px;
color: #D1D1D1;
    text-decoration: none;
    }

.about-readmore:after {
  content: '';
    width: 5px;
    height: 8px;
    display: inline-block;
    background-image: url(img/arrow1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 9px;
    position: relative;  
}

.footer-posts-title {
font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
    margin-bottom: 24px;
    
}

.article-date {
font-family: Montserrat;
font-weight: 300;
font-size: 12px;
line-height: 15px;
color: #363636; 
    display: block;
    margin-bottom: 6px;
}

.article-text {
font-family: Montserrat;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #555555;
    margin-bottom: 12px;
    }

.recent-posts-article {
 margin-bottom: 12px;    
}

.recent-posts-article:after {
   content: "";
  display: block;
  width: 270px;
  height: 1px;
  background-color: #242424;
}

.recent-posts-article:hover .article-date {
    color: #FFFFFF;
}

.recent-posts-article:hover .article-text {
    color: #C7B299;
}

.twitter-article {
    margin-bottom: 12px;
}

.twitter-article:after {
   content: "";
  display: block;
  width: 270px;
  height: 1px;
  background-color: #242424; 
}

.twitter-title {
    font-family: Raleway;
font-weight: 600;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
    margin-bottom: 23px;
}

.twitter-text {
    font-family: Montserrat;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #555555;
    margin-bottom: 6px;
}

.twitter-time {
    font-family: Montserrat;
font-weight: 300;
font-size: 12px;
line-height: 15px;
color: #363636;
    display: block;
    margin-bottom: 16px;
}

.twit-span {
    color: #00BFF3;
}

.widget-wrap {    
    width: 270px;
    display: flex;
    flex-wrap: wrap;
   margin-left: -8px;
}

.dribbble-title {
font-family: Raleway;
font-weight: 600;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
    margin-bottom: 23px;

    }

.widget-img {
    width: calc(50% - 8px);
    margin-left: 8px;
    margin-bottom: 9px;
}

.twitter-article:hover .twitter-text {
  color: #C7B299;  
}

.twitter-article:hover .twitter-time {
  color: #FFFFFF;  
}

.footer-menu-item {
    font-family: Montserrat;
font-weight: 300;
font-size: 13px;
line-height: 16px;
color: #555555;
}

.footer-menu {
    display: flex;
}

.footer-menu-link {
    font-family: Montserrat;
font-weight: 300;
font-size: 13px;
line-height: 16px;
color: #555555;
    text-decoration: none;
}
 
.footer-menu-link:hover {
    color: #BAA78F;
}

.footer-menu li {
    border-right: 1px solid #555555;
    padding-right: 13px;
    padding-left: 13px;
}

.footer-menu li:last-child {
    border-right: none;
}