.container {
   width: 1920px; 
  margin: 0 auto;    
}


header{
    width: 1920px;
    height: 1024px;;
    background-image: url('img/slider-img.png');
    background-size: cover;
    position: relative;
}

nav{
    padding-left: 323px;
    padding-right: 323px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
       margin-bottom: 315px;
    align-items: center;
}


.link-logo{
    padding-top: 39px;
    display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  text-decoration: none;
  color: #fff;
 
}

.link-logo:hover .logo-icon{
 fill: #C7B299;  
}

.link-logo:hover .logo-text{
  color: #C7B299;  
}

.logo-icon{
 fill: #fff;    
}

.logo-text{
    font-family: Raleway, arial,sans-serif;
    color: #FFFFFF;
    
    font-size: 34px;
    line-height : 40px;
}

.menu-list{
    padding-top: 58px;
}

.menu-list-item{
    float: left;
    
}

.menu-link-item {
    /* Style for "HOME     P" */
    color: #fff;
    font-family: Montserrat, arial,sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link-item:hover {
 color: #C7B299;
}

.menu-list-icon{
 padding-top: 54px;   
}

.menu-list-icon-item{
    float: left;
    margin-right: 30px;   
}

.icon-cart, .icon-search{
   fill: #fff;  
}

.icon-cart-link:hover .icon-cart{
 fill: #C7B299;   
}

.icon-search-link:hover .icon-search{
 fill: #C7B299;   
}

.slider-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 39px;
}

.slider{
    padding-left: 160px;
    padding-right: 160px;
    font-family: Raleway, arial, sans-serif;
    color: #FFFFFF;
    text-align: center;
}

.slider-content{
    width: 569px;
    text-align: center;
}

.slider-content-subtitle{
    font-weight: 500;
    font-size: 36px;
line-height: 42px;
}

.slider-content-title{
    font-weight: 600;
font-size: 52px;
line-height: 61px;
}

.slider-content-text{
    font-family: Montserrat;
    font-size: 16px;
line-height: 20px;
}

.slider-button-link:hover .slider-button-arrow{
   fill: #D3C1AC; 
}

.slider-button-arrow{
    fill: #fff;
}

.slider-button {
    width: 170px;
    height: 53px;
    background-color: #988574;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 53px;
}

.slider-button:hover {
    background-color: #D3C1AC;
}

.pagination {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 19px;
    left: calc(50% - 45px);
}

.pagination-item {
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
    border: 1px solid transparent;
}

.pagination-item:hover {
  background-color: transparent;
  border: 1px solid #D3C1AD;
  transform: scale(1.2);
}

.pagination-item-active{
  background-color: transparent;
  border: 1px solid #D3C1AD; 
     display: block;
  width: 13px;
  height: 13px;
    border-radius: 50%;
}

.services-wrap {
    width: 1920px;
    padding: 85px 0 88px 0; 
    display: flex;
    align-items:flex-end;
    justify-content:center;
}

.design{
    width: 270px;    
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}


.design:after {
  content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #F1EEE9;
}

.services-link {
    text-decoration: none;
    display: block;
}

.design-icon {
    display: block;
    fill: #555555;
    margin: 0 0 20px 0; 
}

.design-title {
   font-family: Raleway, arial,sans-serif;
font-weight: 600;
font-size: 22px;
line-height: 26px;
color: #555555;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.design-text {
    font-family: Montserrat, arial,sans-serif;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.design:hover .design-icon {
    fill: #C7B299;
}

.design:hover .design-title {
  color: #C7B299;  
}

.design:hover:after {
   background-color: #C7B199; 
}


.development{
    width: 270px;    
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}


.development:after {
  content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #F1EEE9;
}

.development-icon {
    display: block;
    fill: #555555;
    margin: 0 0 20px 0; 
}

.development-title {
   font-family: Raleway, arial,sans-serif;
font-weight: 600;
font-size: 22px;
line-height: 26px;
color: #555555;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.development-text {
    font-family: Montserrat, arial,sans-serif;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.development:hover .development-icon {
    fill: #C7B299;
}

.development:hover .development-title {
  color: #C7B299;  
}

.development:hover:after {
   background-color: #C7B199; 
}

.customization{
    width: 270px;    
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}


.customization:after {
  content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #F1EEE9;
}

.customization-icon {
    display: block;
    fill: #555555;
    margin: 0 0 20px 0; 
}

.customization-title {
   font-family: Raleway, arial,sans-serif;
font-weight: 600;
font-size: 22px;
line-height: 26px;
color: #555555;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.customization-text {
    font-family: Montserrat, arial,sans-serif;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.customization:hover .customization-icon {
    fill: #C7B299;
}

.customization:hover .customization-title {
  color: #C7B299;  
}

.marketing{
    width: 270px;    
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}


.marketing:after {
  content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #F1EEE9;
}

.marketing-icon {
    display: block;
    fill: #555555;
    margin: 0 0 20px 0; 
}

.marketing-title {
   font-family: Raleway, arial,sans-serif;
font-weight: 600;
font-size: 22px;
line-height: 26px;
color: #555555;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.marketing-text {
    font-family: Montserrat, arial, sans-serif;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.marketing:hover .marketing-icon {
    fill: #C7B299;
}

.marketing:hover .marketing-title {
  color: #C7B299;  
}

.marketing:hover:after {
   background-color: #C7B199; 
}

.waxom-realization-title {
    font-family: Raleway, arial, sans-serif;
font-weight: 600;
font-size: 30px;
line-height: 35px;
text-align: center;
color: #555555;
    margin-bottom: 20px;
    
}

.waxom-realization-text {
    font-family: Montserrat, arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
   color: #8C8C8C;
    margin-bottom: 42px;
    width: 770px;
    padding-left: 575px;
}

.waxom-realization {
    width: 1920px;
    text-align: center;
    background-color: #E5E5E5;
    padding-top: 80px;
}

.purchase-now {
    width: 1920px;
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    padding:  44px 0 45px 0;
    display: flex;
}

.purchase-now-title, .purchase-waxom {
      font-family: Raleway, arial, sans-serif;
font-size: 28px;
    font-weight: 400;
line-height: 33px;
text-align: center;
    color: #FFFFFF;
    margin-bottom: 6px;
}

.purchase-now-title{
    margin-left: 536px;
}

.purchase-waxom {
color: #C7B299;
}

.purchase-now-text{
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #615855;
}